:javascript
  $(function() {
    $( "#tabs" ).tabs();
  });

#tabs
  %ul
    %li
      %a{:href => "#tabs-1"} Users
    %li
      %a{:href => "#tabs-2"} Orders
  #tabs-1    
    %table{:width => "100%"}
      %thead
        %th ID
        %th Name
        %th Parent
        %th Actions
      %tbody
        - @taxonomies.each do |taxonomy|
          %tr
            %td= link_to taxonomy.id, admin_taxonomy_path(taxonomy)
            %td= taxonomy.name
            %td= taxonomy.parent.name
            %td
              %ul
                %li
                  %a{:href => "#"} X
                %li
                  %a{:href => "#"} X
                %li
                  %a{:href => "#"} X
  #tabs-2
    ya