.clear{
	clear: both;
}
.corner {
	-moz-border-radius:6px 6px 6px 6px;
}
.center{
	width: 960px;
	margin: 0 auto;
}
div#content{
	float: left;
	width: 100%;
	padding: 20px 0;
}

div#footer{
	float: left;
	width: 100%;
	background: #DEF1F8;
	border-top: 1px solid #CBDFE7;
	padding: 20px 0;
}

div#header{
	float: left;
	width: 100%;
	background: #DEF1F8;
	border-bottom: 1px solid #CBDFE7;
	padding: 20px 0;
	
	div.header-controller{
		float: left;
		
		h1{
			float: left;
			color: #385C69;
			font-family: 'Georgia';
			font-size: 50px;
			font-weight: normal;
			
			a{
				color: inherit;
				text-decoration: none;
			}
			a:hover{color: #FFFFFF;}
		}
	}
	
	div.header-actions{
		float: right;
		
		ul{
			float: left;
			
			li{
				float: left;
				a{display: block; padding: 15px; color: #385C69; text-decoration: none;}
				a:hover{
					background: #000000;
					color: #FFFFFF;
				}
			}
		}
	}
}

div#subheader{
	float: left;
	width: 100%;
	background: #f9f9f9;
	border-bottom: 1px solid #CBDFE7;
	
	div.header-controller{
		float: left;
		
		h3{
			float: left;
			color: #385C69;
			font-family: 'Georgia';
			font-size: 16px;
			font-weight: normal;
			padding: 15px;
		}
	}
	
	div.header-actions{
		float: right;
		
		ul{
			float: left;
			
			li{
				float: left;
				margin-left: 15px;
				
				a{display: block; padding: 15px; color: #385C69; text-decoration: none;}
				a:hover{
					background: #c0c0c0;
					color: #000000;
				}
			}
		}
	}
}

.content{
	background: #f9f9f9;
	border: 1px solid #c0c0c0;
	padding: 20px;
	margin: 0 20px;
}


.module {
	background: #DEF1F8;
	border:1px solid #CCCCCC;
	margin:0 0 20px;
	
	.module-header{
		background: #e5e5e5;
		
		h3{
			float: left;
			cursor: s-resize;
			padding: 12px 15px 10px;
		}
		
		ul{
			float: right;
			list-style-type: none;
			display: block;
			margin: 0;
			padding: 12px 15px 0 0;
			
			li{
				float: left;
				
				a{
					border-bottom:0 none;
					color:#333333;
					display:block;
					margin:1px;
					padding:8px 10px;
					font-size: 12px;
					text-decoration: none;
				}
				a.selected{
					background:none repeat scroll 0 0 #FFFFFF;
					border-color:#CCCCCC #CCCCCC -moz-use-text-color;
					border-style:solid solid none;
					border-width:1px 1px 0;
					margin:0;
					-moz-border-radius-bottomleft:0;
					-moz-border-radius-bottomright:0;
				}
			}
		}
	}
	
	.module-content{
		border: 1px solid #CCCCCC;
		font-size: 13px;
		padding: 20px;
	}
}

.notice{
	background: #FFFECC;
	border: 1px solid #FAECB5;
	
	span {
		color: #BBAB67;
	}
}
.error{
	background: #FFEDEF;
	border: 1px solid #FFC5CC;
	
	span {
		color: #CF8790;
	}
}
.success{
	background: #E2F9E3;
	border: 1px solid #9ECE9E;
	
	span {
		color: #579157;
	}
}
.data{
	background: #DEF1F8;
	border: 1px solid #CBDFE7;
	
	span {
		color: #8BC3D9;
	}
}

.notice, .success, .error, .data {
	color:#636363;
	font-size:0.92em;
	margin:6px 0;
	padding:14px;
}

.notice span, .success span, .error span, .data span {
	display:block;
	font-size:1.2em;
	font-weight:bold;
	padding-bottom:2px;
}