.header-controller{:style => "align:left;"}
  %h1
    %a{:href => admin_index_path} Current Store
.header-actions{:style => "align:right;"}
  %ul
    %li
      %a{:href => admin_packages_path} Settings
    %li
      %a{:href => admin_orders_path} Logout